.c {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.f {
  flex-direction: column;
}
.spa {
  justify-content: space-between;
}
.hidden {
  opacity: 0;
}
.transition {
  transition: .4s;
}